
        <header class="">
            <nav class="navbar navbar-expand-lg bg-body-secondary fixed-top border-bottom border-black header p-0 m-0">
                <div class="container-fluid d-flex align-items-center">
                    <div class="">
                        <a href="{{ path('gnt_home') }}">
                            <img src="{{ asset('images/efi_gnt_logo_55.png') }}" height="55" alt="Genome Neighborhood Tool" />
                        </a>
                    </div>
                    <div class="d-flex align-items-top mt-1 ms-3">
                        <div class="metadata-job-name">
                            <div>{{ gnd_job_name }}</div>
                            {% if uniref_id is not empty %} 
                                {% if current_sequence_version == 'uniref50' %}
                                    <div>(UniRef90 IDs in UniRef50 cluster ID {{ uniref_id }})</div>
                                {% elseif current_sequence_version == 'uniref90' %}
                                    <div>(UniProt IDs in UniRef90 cluster ID {{ uniref_id }})</div>
                                {% endif %}
                            {% elseif base_sequence_version != 'uniprot' %}
                                {% if base_sequence_version == 'uniref50' %}
                                    <div id="base-sequence-version">(UniRef50 IDs)</div>
                                {% elseif base_sequence_version == 'uniref90' %}
                                    <div id="base-sequence-version">(UniRef90 IDs)</div>
                                {% else %}
                                    <div id="base-sequence-version">(UniProt IDs)</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="ms-auto">
                        <div class="d-flex align-items-top mt-1">
                            <div class="metadata-table">
                                <table border="0" class="metadata-table">
                                    {% if gnd_cooccurrence|default %}
                                        <tr>
                                            <td>Co-occurrence:</td>
                                            <td>{{ gnd_cooccurrence }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if gnd_nb_size|default %}
                                        <tr>
                                            <td>Neighborhood Size:</td>
                                            <td>{{ gnd_nb_size }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

