<!DOCTYPE html>
<html>
    <head>
        <title>Genome Neighborhood Diagrams{% block viewer_title %}{% endblock %}</title>
        {{ importmap('gnd_app') }}
    </head>

    <body
        data-controller="gnd-app"
        data-action="
            gnd-search-form:submitSearch@window->gnd-app#loadFromSearch
            gnd-svg-canvas:batchRenderComplete@window->gnd-app#retrieveAndRenderNextSet
            gnd-gene-window:updateWindowSize@window->gnd-app#updateWindowSize
            "    
        data-gnd-app-gnd-batch-size-value="{{ gnd_batch_size }}"
        data-gnd-app-gnd-set-size-value="{{ gnd_set_size }}"
        data-gnd-app-metadata-api-url-value="{{ path('api_gnd_search_test') }}"
        data-gnd-app-record-api-url-value="{{ path('api_gnd_record_test') }}"
        data-gnd-app-job-id-value="{{ job_id }}"
        data-gnd-app-job-key-value="{{ job_key }}"
        data-gnd-app-database-sequence-version-value="{{ base_sequence_version|default("") }}"
        data-gnd-app-requested-sequence-version-value="{{ current_sequence_version|default("") }}"
        data-gnd-app-requested-uniref-id-value="{{ uniref_id }}"
        data-gnd-app-search-cluster-on-load-value="{{ search_cluster_on_load|default("") }}"

        data-gnd-app-gnd-gene-window-outlet="[data-controller='gnd-gene-window']"
        data-gnd-app-gnd-search-form-outlet="[data-controller='gnd-search-form']"
        >

        <div id="loading-spinner" class="text-center d-none">
            <div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        {% include('efi-gnt/gnd/header.html.twig') %}

        {% include('efi-gnt/gnd/sidebar.html.twig') %}

        {% include('efi-gnt/gnd/main.html.twig') %}

        {% include('efi-gnt/gnd/footer.html.twig') %}

    </body>
</html>

