
{% set filter_name = gnd.filter|replace({'/': '--', '_': '-'}) %}
{% set export_svg_name = gnd.export_tool|replace({'/': '--', '_': '-'}) %}

<aside class="sidebar p-3 bg-dark text-light border-right border-black">
    {% if app_config.sequence.unirefId != '' %}
    <div class="d-none">
    {% endif %}
        <h4><i class="bi bi-search"></i> Search</h4>
        <div id="{{ gnd.search_form_container_id }}"
            {{ stimulus_controller(gnd.search) }}
            {{ stimulus_action(gnd.search, 'finishedBatchRetrieval', gnd.app ~ ':finishedBatchRetrieval@window')|stimulus_action(gnd.search, 'invalidSearch', gnd.app ~ ':invalidSearch@window') }}
        >
            <form action="{{ app_config.api.metadata }}" {{ stimulus_action(gnd.search, 'submit', 'submit') }} class="needs-validation">
                {% if app_config.sequence.requestedVersion != 'uniprot' %}
                    <fieldset>
                        <div class="mb-1">
                            <span style="font-size:0.9em">Search ID Type:</span>
                            <i class="bi bi-info-circle" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="bottom" title="UniRef options decrease the number of nodes that are displayed by grouping sequences together at a 50% and/or 90% sequence percent identity, depending on job options."></i>
                        </div>
                        <div class="btn-group mb-3" role="group" aria-label="UniRef toggle options">
                            {% if app_config.sequence.databaseVersion == 'uniref50' %}
                                <input type="radio" class="btn-check" name="uniref-toggle" id="uniref-toggle-uniref50" autocomplete="off" value="uniref50" {{ app_config.sequence.requestedVersion == 'uniref50' ? 'checked' : '' }}>
                                <label class="btn btn-sm btn-light" for="uniref-toggle-uniref50">UniRef50</label>
                            {% endif %}
                            <input type="radio" class="btn-check" name="uniref-toggle" id="uniref-toggle-uniref90" autocomplete="off" value="uniref90" {{ app_config.sequence.requestedVersion == 'uniref90' ? 'checked' : '' }}>
                            <label class="btn btn-sm btn-light" for="uniref-toggle-uniref90">UniRef90</label>
                            <input type="radio" class="btn-check" name="uniref-toggle" id="uniref-toggle-uniprot" autocomplete="off" value="uniprot" {{ app_config.sequence.requestedVersion == 'uniprot' ? 'checked' : '' }}>
                            <label class="btn btn-sm btn-light" for="uniref-toggle-uniprot">UniProt</label>
                        </div>
                    </fieldset>
                {% endif %}
                <div class="mb-2">
                    <label for="search-input" class="form-label">Input multiple clusters and/or individual sequence IDs.</label>
                    <div class="input-group has-validation">
                        <textarea class="form-control" id="search-input" rows="4" {{ stimulus_target(gnd.search, 'query') }} placeholder="" required></textarea>
                        <div class="invalid-feedback">
                            Please enter a search term
                        </div>
                    </div>
                    <div class="d-none alert alert-warning tiny-alert my-2" role="alert" {{ stimulus_target(gnd.search, 'searchAlert') }}>
                        No GNDs were found for the search term
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm btn-light" {{ stimulus_target(gnd.search, 'submitButton') }}>Search</button>
                </div>
            </form>
        </div>
        <hr>
    {% if app_config.sequence.unirefId != '' %}
    </div>
    {% endif %}
    <h4><i class="bi bi-funnel-fill"></i> Filtering</h4>
    <div id="gnd-filter-container"
        {{ stimulus_controller(gnd.filter) }}
        data-{{ filter_name }}-svg-canvas-id-value="{{ gnd.svg_canvas_container_id }}"
        {{ stimulus_action(gnd.filter, 'handleArrowClick', 'efi-gnd-global:arrowClick@window')|stimulus_action(gnd.filter, 'finishRetrieval', gnd.app ~ ':finishedBatchRetrieval@window')|stimulus_action(gnd.filter, 'initializeUi', gnd.app ~ ':initializeApp@window')|stimulus_action(gnd.filter, 'newDiagrams', gnd.app ~ ':newDiagrams@window') }}
    >
        <fieldset {{ stimulus_target(gnd.filter, 'fieldset') }}>
            <div>
                <label class="form-check-label py-1">
                    <input class="form-check-input m-2" type="checkbox" value=""
                        {{ stimulus_target(gnd.filter, 'showSwissProt') }}
                        {{ stimulus_action(gnd.filter, 'toggleSwissProt', 'change') }}>
                    Show IDs with SwissProt
                </label>
            </div>
            <div id="gnd-filter-family-list" class="filter-family-list">
                <div class="accordion border-dark" id="familyFilterAccordion">
                    <div class="accordion-item border-secondary">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed m-0 p-2 text-bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#pfamFamilyListAccordion" aria-expanded="false" aria-controls="pfamFamilyListAccordion" id="pfamFamilyListAccordionButton">
                                <b>Pfam Families</b>
                            </button>
                        </h2>
                        <div id="pfamFamilyListAccordion" class="accordion-collapse collapse" data-bs-parent="#familyFilterAccordion">
                            <div id="pfamFamilyList" class="accordion-body m-0 p-2 text-bg-dark" {{ stimulus_target(gnd.filter, 'pfamFamilyList') }}></div>
                        </div>
                    </div>
                    <div class="accordion-item border-secondary">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed m-0 p-2 text-bg-dark border-top border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#interproFamilyListAccordion" aria-expanded="false" aria-controls="interproFamilyListAccordion" id="interproFamilyListAccordionButton">
                                <b>InterPro Families</b>
                            </button>
                        </h2>
                        <div id="interproFamilyListAccordion" class="accordion-collapse collapse" data-bs-parent="#familyFilterAccordion">
                            <div id="interproFamilyList" class="accordion-body m-0 p-2 text-bg-dark" {{ stimulus_target(gnd.filter, 'interproFamilyList') }}></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-2">
                Search families:
                <input type="text" class="form-input"
                    {{ stimulus_target(gnd.filter, 'searchInput') }}
                    {{ stimulus_action(gnd.filter, 'searchFilterInputBox', 'keydown') }}>
                <button type="button" class="btn btn-dark btn-sm" {{ stimulus_action(gnd.filter, 'searchFilter') }}><i class="bi bi-search"></i></button>
            </div>
            <div class="border border-secondary rounded d-none p-1 my-1" id="family-highlight-legend" {{ stimulus_target(gnd.filter, 'legendContainer') }}></div>
            <div>
                <button type="button" class="btn btn-light btn-sm" {{ stimulus_action(gnd.filter, 'clearFilter') }}><i class="bi bi-x-lg"></i> Reset Filters</button>
            </div>
        </fieldset>
    </div>
    <hr>
    <h4><i class="bi bi-arrows-fullscreen"></i> Genome Window</h4>
    <div id="{{ gnd.gene_window_container_id }}"
        {{ stimulus_controller(gnd.window) }}
        {{ stimulus_action(gnd.window, 'initializeApp', gnd.app ~ ':initializeApp@window') }}
    >
        <div class="my-1">
            Window size: <select class="w-auto mx-2" id="gnd-window-size"
                {{ stimulus_target(gnd.window, 'windowSize') }}
                {{ stimulus_action(gnd.window, 'windowSizeChange', 'change') }}>
                <option>10</option><option>11</option>
            </select> genes
            <i class="bi bi-info-circle" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="top" title="The number of genes to display on either side of the query gene"></i>
        </div>
        {#
        <div class="my-2">
            <button type="button" class="btn btn-light" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="top" title="Zoom out (large)"
                {{ stimulus_target(gnd.window, 'zoomOutLarge') }}
                {{ stimulus_action(gnd.window, 'zoomOutLarge', 'click') }}><i class="bi bi-zoom-out"></i></button>
            <button type="button" class="btn btn-light btn-sm" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="top" title="Zoom out (small)"
                {{ stimulus_target(gnd.window, 'zoomOutSmall') }}
                {{ stimulus_action(gnd.window, 'zoomOutSmall', 'click') }}><i class="bi bi-zoom-out"></i></buttn)>
            <button type="button" class="btn btn-light btn-sm" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="top" title="Zoom in (small)"
                {{ stimulus_target(gnd.window, 'zoomInSmall') }}
                {{ stimulus_action(gnd.window, 'zoomInSmall', 'click') }}><i class="bi bi-zoom-in"></i></button>
            <button type="button" class="btn btn-light" data-controller="tooltip" data-bs-toggle="tooltip" data-placement="top" title="Zoom in (large)"
                {{ stimulus_target(gnd.window, 'zoomInLarge') }}
                {{ stimulus_action(gnd.window, 'zoomInLarge', 'click') }}><i class="bi bi-zoom-in"></i></button>
        </div>
        #}
        <div class="my-2 lh-1">
            <small>Use of any of these inputs will cause the page to reload.</small>
        </div>
    </div>
    <hr>
    <h4><i class="bi bi-wrench"></i> Tools</h4>
    <div class="my-3">
        <div class="my-1"
            {{ stimulus_controller(gnd.export_tool) }}
            {{ stimulus_action(gnd.export_tool, 'enableTool', gnd.app ~ ':finishedBatchRetrieval@window') }}
            data-{{ export_svg_name }}-svg-canvas-id-value="{{ gnd.svg_canvas_container_id }}"
            data-{{ export_svg_name }}-gnd-name-value="{{ app_config.jobName }}"
        >
            <button type="button" class="btn btn-light w-100 text-start"
                {{ stimulus_target(gnd.export_tool, 'toolButton') }}
                {{ stimulus_action(gnd.export_tool, 'downloadSvg') }}
                disabled
            >
                <i class="bi bi-file-image"></i> Export SVG
            </button>
        </div>

        <div class="my-1">
            <a role="button" class="btn btn-light w-100 text-start" href="{{ app_config.api.download }}" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="GND databases are SQLite database files.">
                <i class="bi bi-download"></i> Download GND Database
            </a>
        </div>
    </div>
</aside>

