
{% set efi = 'enzymefunctioninitiative/gnd-viewer-bundle' %}

{% set gnd = {
    'app':          efi ~ '/gnd_app',
    'filter':       efi ~ '/gnd_filter',
    'window':       efi ~ '/gnd_gene_window',
    'info_popup':   efi ~ '/gnd_info_popup',
    'loading':      efi ~ '/gnd_loading',
    'search':       efi ~ '/gnd_search_form',
    'canvas':       efi ~ '/gnd_svg_canvas',
    'gene_window_container_id':     'gene-window-container',
    'search_form_container_id':     'search-form-container',
    'svg_canvas_container_id':      'svg-canvas-container',
    'main_app_container_id':        'main-app-container',
} %}

<link rel="stylesheet" href="{{ asset('@enzymefunctioninitiative/gnd-viewer-bundle/styles/gnd.css') }}">

{% set app_config = {
    batchSize: params.gnd_batch_size,
    setSize: params.gnd_set_size,
    jobId: params.job_id,
    jobKey: params.job_key,
    api: {
        metadata: params.api_gnd_search,
        record: params.api_gnd_record
    },
    sequence: {
        databaseVersion: params.base_sequence_version|default(""),
        requestedVersion: params.current_sequence_version|default(""),
        unirefId: params.uniref_id,
        metadataUrl: params.metadata_url|default("")
    },
    search: {
        clusterOnLoad: params.search_cluster_on_load|default("")
    }
} %}

{% set app_name = gnd.app|replace({'/': '--', '_': '-'}) %}

<div id="{{ gnd.main_app_container_id }}"
    {{ stimulus_controller(gnd.app, { 'app-config': app_config }) }}
    data-{{ app_name }}-gene-window-id-value="{{ gnd.gene_window_container_id }}"
    data-{{ app_name }}-search-form-id-value="{{ gnd.search_form_container_id }}"
    {{ stimulus_action(gnd.app, 'loadFromSearch', gnd.search ~ ':submitSearch@window')|stimulus_action(gnd.app, 'retrieveAndRenderNextSet', gnd.canvas ~ ':batchRenderComplete@window')|stimulus_action(gnd.app, 'updateWindowSize', gnd.window ~ ':updateWindowSize@window')|stimulus_action(gnd.app, 'arrowHighlightCountUpdated', 'efi-gnd-global:arrowHighlightCountUpdated@window') }}
    >

    {% include('@EfiGndViewer/sidebar.html.twig') with { app_config } %}

    {% include('@EfiGndViewer/canvas.html.twig') with { app_config } %}

    {% include('@EfiGndViewer/footer.html.twig') with { 'app_config': app_config } %}

    {% include('@EfiGndViewer/components/info_popup.html.twig') with { app_config } %}

</div>

