
{% set efi = 'enzymefunctioninitiative/gnd-viewer-bundle' %}

{% set gnd = {
    'app':          efi ~ '/gnd_app',
    'filter':       efi ~ '/gnd_filter',
    'window':       efi ~ '/gnd_gene_window',
    'info_popup':   efi ~ '/gnd_info_popup',
    'search':       efi ~ '/gnd_search_form',
    'canvas':       efi ~ '/gnd_svg_canvas',
    'export_tool':  efi ~ '/gnd_export_svg',
    'gene_window_container_id':     'gene-window-container',
    'search_form_container_id':     'search-form-container',
    'svg_canvas_container_id':      'svg-canvas-container',
    'main_app_container_id':        'main-app-container',
} %}

{# Add the actual stimulus controller ID to the gnd object #}
{% for key, path in gnd %}
    {% set stimulus_id = path|replace({'/': '--', '_': '-'}) %}
    {% set gnd = gnd|merge({ (key ~ '_id'): stimulus_id }) %}
{% endfor %}

<link rel="stylesheet" href="{{ asset('@enzymefunctioninitiative/gnd-viewer-bundle/styles/gnd.css') }}">

{% set app_config = {
    batchSize: params.gnd_batch_size,
    setSize: params.gnd_set_size,
    jobId: params.job_id,
    jobKey: params.job_key,
    jobName: params.gnd_job_name,
    api: {
        metadata: params.api_gnd_search,
        record: params.api_gnd_record,
        geneGraphics: params.api_gene_graphics,
    },
    sequence: {
        databaseVersion: params.base_sequence_version|default(""),
        requestedVersion: params.current_sequence_version|default(""),
        unirefId: params.uniref_id,
        metadataUrl: params.metadata_url|default(""),
        uniprotUrl: 'https://www.uniprot.org/uniprotkb/<ID>/entry'
    },
    search: {
        clusterOnLoad: params.search_cluster_on_load|default(""),
        window: params.gnd_nb_size,
    },
    urls: {
        download: params.download_db_url,
        tutorial: params.tutorial_url,
    }
} %}

<div id="{{ gnd.main_app_container_id }}"
    {{ stimulus_controller(gnd.app, { 'app-config': app_config }) }}
    data-{{ gnd.app_id }}-gene-window-element-id-value="{{ gnd.gene_window_container_id }}"
    data-{{ gnd.app_id }}-search-form-element-id-value="{{ gnd.search_form_container_id }}"
    data-{{ gnd.app_id }}-gene-window-controller-id-value="{{ gnd.window_id }}"
    data-{{ gnd.app_id }}-search-form-controller-id-value="{{ gnd.search_id }}"
    data-{{ gnd.app_id }}-required-controllers-value='["{{ gnd.filter_id }}", "{{ gnd.window_id }}", "{{ gnd.info_popup_id }}", "{{ gnd.search_id }}", "{{ gnd.canvas_id }}", "{{ gnd.export_tool_id }}"]'
    {{ stimulus_action(gnd.app, 'loadFromSearch', gnd.search ~ ':submitSearch@window')|stimulus_action(gnd.app, 'retrieveAndRenderNextSet', gnd.canvas ~ ':batchRenderComplete@window')|stimulus_action(gnd.app, 'updateWindowSize', gnd.window ~ ':updateWindowSize@window')|stimulus_action(gnd.app, 'arrowHighlightCountUpdated', 'efi-gnd-global:arrowHighlightCountUpdated@window')|stimulus_action(gnd.app, 'geneGraphicsExportStatus', 'efi-gnd-global:geneGraphicsExport@window')|stimulus_action(gnd.app, 'controllerCheckIn', 'efi-gnd-global:controllerReady@window') }}
    >

    {% include('@EfiGndViewer/sidebar.html.twig') with { app_config } %}

    {% include('@EfiGndViewer/canvas.html.twig') with { app_config } %}

    {% include('@EfiGndViewer/footer.html.twig') with { 'app_config': app_config } %}

    {% include('@EfiGndViewer/components/info_popup.html.twig') with { 'metadata_url': app_config.sequence.metadataUrl, 'svg_canvas_container_id': gnd.svg_canvas_container_id, 'info_popup_controller': gnd.info_popup, 'uniprot_url': app_config.sequence.uniprotUrl } %}

</div>

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="showViewerTips">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tips for Exploring</h5>
            </div>
            <div class="modal-body" style="font-size: 0.88em">
                <p>
                <div><b>Interactive Filtering</b></div>
                The mouse can be used to select families to filter.  To
                do this, press and hold the Ctrl keyboard key on Windows or
                the Option key <i class="bi bi-option"></i> on MacOS
                and click on a protein.  All of the PFam families that
                are associated with the protein will be highlighted.
                </p>
                <p>
                <div><b>Viewing Metadata</b></div>
                Moving the mouse over a specific protein will show a
                popup box containing metadata.  As soon as the mouse is
                moved away from the protein, the box disappears.  To
                keep the box open, click on the protein, and the box
                will remain visible until the mouse is moved over a
                different protein.
                </p>
                <p>
                <div><b>Copying Metadata</b></div>
                Clicking the copy <i class="bi bi-clipboard"></i> icon when
                the metadata popup box is visible will copy the
                metadata to the clipboard.  This information can be
                pasted into another document for further use.
                </p>
                <p>
                <div><b>Direct Link to UniProt Data</b></div>
                Clicking the <i class="bi bi-box-arrow-up-right"></i> icon when
				the metadata popup box is visible takes the user to the EFI
                <a href="{{ app_config.sequence.metadataUrl }}/search">Sequence Metadata website</a>
                that contains UniProt data for the given protein.
                </p>
                <p>
                <div><b>Changing the Window (Gene)</b></div>
                The GND explorer can display from 1 to 20 genes on
                either side of the query gene (center, red).  This can be
                changed by selecting a value from the "Window size" drop down
                menu in the Genome Window section.
                </p>
                <p>
                <div><b>Updating the Filter Legend</b></div>
                Selecting a family filter makes that family, along with its
                assigned color, appear in a legend box below the "Clear Filter"
                button.  Individual families can be removed from the legend
                by moving the mouse over the color box and pressing the X
                button that appears in the color box.  For InterPro
                families, the color is not assigned, but the functionality
                is the same.
                </p>
                <p>
                <div><b>Data Export</b></div>
				It is possible to export a file that provides the data used to generate the diagrams.
                The data file format is SQLite, and it can be uploaded to the EFI-GNT
                tool and viewed again in the future via the <i>View Saved Diagrams</i>
                option.
                For advanced use, the file can also be opened with
                <a href="https://sqlitebrowser.org/" target="_blank">DB Browser for SQLite</a>
                to manually extract data.
                </p>
                <p>
                The currently displayed diagrams can be exported to the Gene Graphics
                format and displayed using the
                <a href="https://katlabs.cc/genegraphics/" target="_blank">Gene Graphics</a>
                comparative genomics visualization tool.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="info-modal" class="modal fade d-none" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="showLicenses">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Software Licenses and Attribution</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

