
{% set infoPopup = 'enzymefunctioninitiative/gnd-viewer-bundle/gnd-info-popup' %}

<div class="position-absolute p-0 border border-secondary rounded border-2 bg-light d-none info-popup"
    {{ stimulus_controller(infoPopup, {
        'metadata-url':  metadata_url|default("")
    }) }}
    {{ stimulus_action(infoPopup, 'handleArrowClick', 'efi-gnd-global:arrowClick@window')|stimulus_action(infoPopup, 'handleArrowOver', 'efi-gnd-global:arrowMouseOver@window')|stimulus_action(infoPopup, 'handleArrowOut', 'efi-gnd-global:arrowMouseOut@window') }}
>
    <div class="d-flex align-items-center border-bottom">
        <span class="px-2 py-1 mr-5" {{ stimulus_target(infoPopup, 'idDisplay') }}></span>
        <div class="d-flex ms-auto">
            {% if show_metadata_button|default(true) %}
                <button
                        {{ stimulus_action(infoPopup, 'openMetadataPage', 'click') }}
                        class="btn btn-link border-0"
                        aria-label="Metadata Tool"
                        data-controller="tooltip"
                        data-bs-toggle="tooltip"
                        data-placement="top"
                        title="View metadata">
                    <i class="bi bi-box-arrow-up-right"></i>
                </button>
            {% endif %}
            <button
                    {{ stimulus_action(infoPopup, 'copyToClipboard', 'click') }}
                    class="btn btn-link border-0"
                    aria-label="Copy to clipboard"
                    data-controller="tooltip"
                    data-bs-toggle="tooltip"
                    data-placement="top"
                    title="Copy to clipboard">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
    </div>
    <div class="p-2">
        <div>Description: <span class="info-popup-value" {{ stimulus_target(infoPopup, 'description') }}></span></div>
        <div>Annotation Status: <span class="info-popup-value" {{ stimulus_target(infoPopup, 'status') }}></span></div>
        <div>Organism: <span class="info-popup-value" {{ stimulus_target(infoPopup, 'organism') }}></span></div>
        <div class="info-popup-group">
            <div class=""><b>Pfam</b></div>
            <div><span class="info-popup-value" {{ stimulus_target(infoPopup, 'pfam') }}></span></div>
        </div>
        <div class="info-popup-group" {{ stimulus_target(infoPopup, 'interproGroup') }}>
            <div class=""><b>InterPro</b></div>
            <div><span class="info-popup-value" {{ stimulus_target(infoPopup, 'interpro') }}></span></div>
        </div>
        <div class="info-popup-group">Sequence Length: <span class="info-popup-value" {{ stimulus_target(infoPopup, 'length') }}></span></div>
    </div>
</div>

